body{
	background-image: url("img/star.jpg");
    background-repeat: repeat;
}

.header{
	background-color: green;
	width: 60%;
	margin: auto;
	border: 5px solid green;
	text-align: center;
	/*height: 350px;*/
	/*width: 700px;*/
	/*background-image:url("banner.png");*/
    /*background-size: 700px 200px;*/
    /*background-repeat: no-repeat;*/
/*	background-repeat: repeat-x;
	background-position: top left;*/
}

#banner{
	width: 100%;
}	

#rainbow {
    background: red; /* not working, let's see some red */
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0%, rgba(255, 0, 0, 1)), 
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

.header h1{
	width: 50%;
	margin: 10px auto 20px auto;
	border: 3px solid black;
	color: red;
	text-align: center;
}
.header h1 em{
	color: blue;
}
.header h2{
	color: red;
	border: 3px solid yellow;
	width: 50%;
	margin: 20px auto 20px auto;
	text-align: center;
}
#about{
	margin: 50px auto 50px auto;
	background-color: blue;
	width: 70%;
	border: 3px solid black;
	padding: 20px;
}
#about .coollinks{
	background-color: yellow;
	width: 80%;
}
#about em{
	color: green;
}

#table{
	margin: 50px auto 50px auto;
	width: 80%;
	border: 3px solid blue;
	background-color: white;
	text-align: center;
}

#projects{
	margin: 50px auto 50px auto;
	width: 80%;
	border: 3px solid green;
	background-image: url("img/gradient.jpg");
	background-repeat: repeat-y;
	background-color: red;
	padding: 20px;
	text-align: center;
}
#projects p{
	background-color: orange;
	color: blue;
	width: 100%;
	border: 3px solid orange;
}
#projects h2{
	text-align: center;
	color: yellow;
}
#projects img{
	/*width: 100%;*/
	height: 100%;
	/*float: right;*/
	padding: 10px;
}

#projects h3{
	text-align: center;
	color: blue;
	margin: 0;
}
#projects h4{
	text-align: center;
	color: blue;
	margin: 0;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	#projects img{
		/*width: 100%;*/
		height: 32%;
		/*float: right;*/
		padding: 10px;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	/*tr { border: 1px solid #ccc; }*/
	
	td { 
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee; */
		position: relative;
		padding-left: 0; 
	}
	
	/*
	Label the data
	*/
/*	td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Porn Name"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }*/
}
