body {
  background: linear-gradient(-90deg, #ac1eff, #2b39ff);
  color: #8c00ff;
}


.container {
  text-align: center;
  padding: 40px;
}

.header {
  margin-bottom: 40px;
  background-color: black;
  color: white;
  padding: 20px;
}

#banner {
  width: 100%;
  height: 500px;
  margin-bottom: 30px;
  z-index: 3;
}

.content {
  text-align: left;
}

.row-content {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}

@keyframes loader {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1600px -1600px;
  }
}

.bg {
  transform: translateZ(0);
  background: transparent url(images/potato.png) repeat;
  animation: loader 16s linear infinite;
}