
/*
Rules/Guidlines

Typography
Clickable: Sans Serif
Content: Serif (GT Sectra)

Colour
-Navy blue and Beige
-School colour
-Only differenciate with opacity, not hex code

*/

@font-face {
    font-family: 'GT Sectra Super';
    src: url(fonts/GT-Sectra-Display-Super.otf);
}

@font-face {
    font-family: 'GT Sectra Book';
    src: url(fonts/GT-Sectra-Book.otf);
}

@font-face {
    font-family: 'GT Sectra Bold Italic';
    src: url(fonts/GT-Sectra-Bold-Italic.otf);
}

body {
    font-family: "GT Sectra Book";
    margin: 0px;
    word-break: break-word;
    hyphens: auto;
}

.hidden {
    display: none;
}

/* Navbar */
.nav {
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: black;
    color: #FCFCFA;
}

.nav_buffer {
    height: 64px;
    background-color: black;
}

.nav_title {
    margin-top: 0px;
    font-size: 20pt;
    padding-top: 24px;
    font-family: 'GT Sectra Super';
    text-align: center;
}

/* Landing Page */
.landing_page {
    padding: 20px;
    margin-top: 0px;
    background-color: #00395A; /* dark blue */
    color: #FCFCFA; /* beige */
    min-height: 500px;
}

/* Editor's Note */
.editor_note {
    padding: 20px;
    padding-top: 50px;
    margin-top: 0px;
    background-color: black;
    color: #FCFCFA; /* beige */
    min-height: 500px;
}

/* Table of Contents */
.table_of_contents {
    padding: 20px;
    background-color:  #00395A; /* dark blue */
    color: #FCFCFA; /* beige */
    min-height: 500px;
}

.table_of_contents_expanded {
    padding: 0px 50px 50px 50px;

}

.table_of_contents_expanded li {
    line-height: 2em;
}

.table_of_contents_expanded a {
    color: #FCFCFA; /* beige */
}

/*Articles*/

.article {
    padding-top: 64px;
}

.image {
    width: 110%;
    margin-left: -5%;
}

img {
    width: 100%;
}

/*Palette Cleansers*/
.palette001 {}
.palette002 {}
.palette003 {}
.palette004 {}
.palette005 {}
.palette006 {}
.palette007 {}
.palette008 {}
.palette009 {}
.palette010 {}

/*Last Page*/

.ending_page {}

.content {
    max-width: 700px;
    padding: 20px;
}

/* tablet and above */
@media only screen and (min-width: 800px) {
    .content {
        padding: 30px;
        margin: auto;
    }

    .table_of_contents_expanded {
        column-count: 2;
        column-gap: 32px;
    }

    .landing_page {
        padding: 100px;
    }
}

/* desktop and above */
@media only screen and (min-width: 1200px) {
    .image {
        width: 120%;
        margin-left: -10%;
    }
}


/*Typography Size Treatment*/
/*School names*/
h1 {
    font-family: "GT Sectra Super";
    font-size: 62pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Article Title*/
h2 {
    font-family: "GT Sectra Super";
    font-size: 50pt;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*disclaimer/subheading/intro*/
h3 {
    font-family: "GT Sectra Book";
    font-style: normal;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 32pt;
}

/*byline*/
h4 {
    font-family: "GT Sectra Bold Italic";
    font-size: 18pt;
    text-align: left;
}

/*nav*/
h5 {
    font-size: 18pt;
    margin-left: 50px;
    font-family: "GT America";
    font-style: Condensed;

}

/*Body*/
p {
    font-family: "GT Sectra Book";
    font-size: 14pt;
    font-style:normal;
    line-height: 20pt;
    widows: inherit;
}

/*School Headers*/

.risd {
    color: black;
}
.brown {
    color: red;
}
.rutgers {
    color: purple;
}
.bu {
    color: green;
}
.harvard {
    color: yellow;
}
.yale {
    color: blue;
}
.parsons {
    color: orange;
}
.uottawa{
    color: blueviolet;
}
.umich{
    color: brown;
}
.berkely{
    color: plum;
}
.uga{
    color: deeppink;
}



/*Table of Contents*/
.tableofcontents_risd {}
.tableofcontents_brown {}
.tableofcontents_bu {}
.tableofcontents_rutgers {}
.tableofcontents_parsons {}
.tableofcontents_umich {}
.tableofcontents_berkely {}
.tableofcontents_harvard {}
.tableofcontents_yale {}
.tableofcontents_uttawa {}
.tableofcontents_uga {}


/*Images*/
